* {
  box-sizing: border-box;
}

#calculator {
  width: 325px;
  height: auto;
  border: 1px solid blue;
  padding: 20px 10px 10px 20px;
  overflow: hidden;
}

.keys {
  overflow: hidden;
}

.keys, .operator {
  float: left;
  width: 66px;
  height: 40px;
  border: 1px solid blue;
  margin: 0 7px 11px 0;
  line-height: 40px;
  text-align: center;
  color: blue;
  font-family: "Arial", sans-serif;
  background-color: #fff;
}

.keys:hover {
  background-color: blue;
  color: white;
  transition: .2s linear;
}

#display {
  background-color: #fff;
  border: 1px solid blue;
  height: 40px;
  width: 212px;
  float: left;
  margin-right: 7px;
  text-align: right;
  padding: 0 28px 0 0;
  font-family: "Arial", sans-serif;
  color: blue;
}